/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: "Inter", sans-serif;
    background-color: #FCF3CF;
    color: black;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FCF3CF;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FCF3CF;
  }
  
  .logo a {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #7B241C;
    padding-left: 15px;
  }

  .logo img {
    width: 100px;
    height: 100px;
  }
  
  .profile img {
    width: 125px;
    height: 50px;
  }
  
  .headingone {
    background-color: #FCF3CF;
    padding: 20px;
  }
  
  .containerone {
    background-color: #FCF3CF;
    padding: 20px;
  }
  
  .grid-container {
    display: grid;
    justify-content: center;
  }
  
  .section-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  h2 {
    margin: 0;
  }
  
  .image-container {
    position: relative;
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }
  
  .image-flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    transform: rotateY(0deg);
  }
  
  .image-flipper.flipped {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  .section-1 img {
    border: 1px solid #7B241C;
    max-width: 100%;
    height: auto;
  }
  
  /* Additional styles for section 2 */
  .containertwo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  
  .ratings-headings,
  .ratings,
  .graph {
    background-color: #FCF3CF;
    padding: 20px;
  }
  
     .rating {
      display: flex;
    }
    
    .rating input {
      position: absolute;
      left: -100vw;
    }
    
    .rating label {
      width: 48px;
      height: 48px;
      background: url('stars.svg') no-repeat top left;
      cursor: pointer;
    }
    
    .rating input:checked + label,
    .rating input:hover ~ input + label {
      background-position: -48px 0;
    }

    .lower-section {
      background-color: #7B241C;
      padding: 20px;
      margin-top: 150px;
    }
    
    